*{
    margin: 0;
    padding: 0;
}
header{
    height: 400px;
    background-color: rgb(0, 0, 0);
}
.container{
    display: flex;
    margin: 0px 100px;
    justify-content: space-between;
    
}
.logo{
    color: whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0px;
    /* margin-left: 0%; */
}
.left{
    margin: 10px;
    /* border: 0.1px solid blue; */
}
.right{
    margin: 10px;
    /* border: 2px solid blue; */
}
.left a{
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    margin:  10px;
    color:white;
    
}
.right Button{
    padding: 4px 5px;
    border: 2px solid rgb(0, 255, 234);
    border-radius: 5px;
    background-color: rgb(0, 255, 234);
    cursor: pointer;
    font-size: 12 px;
    transition: all .5s ease;
    text-transform: uppercase;
}
.right Button:hover{
    background-color:rgb(0, 0, 0);
    color: white;
}