*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 header{
     width: 100%;
     height: 100vh;
     background-image: url("/images/b1.png"),url("/images/bg1.jpeg");
     background-size: 50% 100%, cover;
     background-repeat: no-repeat,no-repeat;
     background-position: right,center;
     clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);


    
 }
 .logo{
     color: white;
     font-size: 50px;
     padding-left: 40px;
     /* margin-right: 10px; */
 }
.logo span{
    color: #e74c3c;
    letter-spacing: 5px;
}

 .menu a{
     color: white;
     text-decoration: none;
     padding: 10px 15px;
     /* margin: 5px; */
     font-size: 20px;
     font-weight: bold;

 }
 .menu{
     margin-right: 100px ;
 }

 nav{
     width: 100%;
     height: 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

.menu a:hover{
    background:#e74c3c;
    transition: 0.9s;
}

.text{
    color: white;
    margin-top: 100px;
    margin-left:100px;
    max-width: 450px;
}
.text h1{
    
    font-size: 50px;
   margin: 10px 0px;    

}
.text p{
    font-size: 25px;
}
.c-btn{
    border: none;
    outline: none;
    color: white;
    background: rgb(50, 50, 50);
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
     font-weight: bold;
}
.c-btn:hover{
  background:#e74c3c;
  transition: 0.9s;
}
#about{
    padding: 100px 50px;

}
.section-info{
    font-weight: bold;
    text-align: center;
}
.section-info h1{
    font-size: 50px;

}
.section-info p{
    font-size: 25px;
    color: #e74c3c;
}
.about-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
    padding:50px;
}
.about-right-col{
    flex-basis: 50%;
}
#p-title{
    font-size: 20px;
    font-weight: bold;
}
.about-right-col p{
    font-size: 20px;
    text-align: justify;
}